* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins",
}



body {

    min-height: 100vh;
    width: 100vw;
    background-image: url('./assets/bkg3.png');
    background-size: cover;
    /* Preenche toda a tela */
    background-position: center;
    /* Centraliza a imagem */
    background-repeat: no-repeat;
    /* Evita repetições */
    background-attachment: fixed;
    /* Mantém o fundo fixo ao rolar */
    image-rendering: high-quality;
    ;

}